.grid-row {
    display: grid;
    grid-template-columns: auto auto auto;
}
.col {
    width: 90%;
}
.img-fluid {
    min-height: 270px;
    max-height: 450px;
    width: 90%;
}
.space-top {
    padding-top: 90px;
}
.bg-gradient {
    background: rgb(94,172,236);
    background: linear-gradient(90deg, rgba(94,172,236,1) 0%, rgba(196,242,247,1) 35%, rgba(252,252,252,1) 100%);
}
.bg-gradient2 {
    background: rgb(156,181,61);
    background: linear-gradient(90deg, rgba(156,181,61,1) 0%, rgba(135,173,121,1) 35%, rgba(252,252,252,1) 100%);
}
.bg-gradient3{
    background: rgb(181,61,94);
    background: linear-gradient(90deg, rgba(181,61,94,1) 0%, rgba(173,121,151,1) 35%, rgba(252,252,252,1) 100%);
}
@media(max-width: 1050px) {
    .grid-row {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
    }
    .col {
        width: 100%;
    }
}
@media(max-width: 892px) {
    .grid-row {
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
    }
    .col {
        width: 100%;
    }
}